.result-header {
  margin: 0;
  position: relative;
  padding: 0;
}


.header-sample {
    border-top: none !important;
    /* transform: translateY(-110%); */
    background-color: #48ACBB;
    color:#ffffff;
    width: 100%;
    min-width: 70%;
    transform: translateY(-20%);
    padding: 2rem 2rem;
    position: relative;
    margin: 0;
    
  }

  .header-sample h1 {
    font-size: 3rem;
    font-weight: bold;
    white-space: normal;
    width: auto;
    transform: translate(3% , 70%);
    align-items: center;
    align-self: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }


    /*Moving search icon*/
  .search-bar-left-icon {
    position: relative;
    display:flex;
    align-items: center;
}

/* Search icon */
.search-icon {
    position: relative;
    right: 2rem;
    transform: translateX(450%);
    color: #00a4bc; 
    pointer-events: none;
    z-index: 2;
    /* background: none !important;
    border: none !important;
    box-shadow: none !important; */
}

.search-bar-wrapper {
    align-items: flex-end;
    align-content: flex-end;
    display:flex;
    transform: translateY(-25%);
  }
  
  /* Actual search input */
  .search-input {
    padding: 15px 55px;
    background: #ffffff;
    color:#000000;
    border-radius: 40px;
    font-size: 1.00rem;
    margin-right: 2rem;
    border-color:#ffffff;
  }

/*==Filters and Display of Searchbox Query==*/

.filters-container {
  margin: 0 7rem 2rem 7rem;
}

.individual-filter {
  background-color: #ffc64c;
  padding: 0.6rem;
  margin: 0 0.5rem;
  border-radius: 20px;
  font-weight: 500;
}

.query-display-container {
  margin-top: 2rem;
}

.query-display {
  font-size: 1.1rem;
  font-style: italic;
}

/*==Back Button==*/

.backbtn-container {
  margin-left: 7rem;
  margin-bottom: 3rem;
}

.back-btn {
  color:#000000;
  background-color: #ffffff;
  border-color: #4A8EBB;
  border-radius: 20px;
}

.back-btn:hover {
  color: #fff;
  background-color: #4A8EBB;
}

.back-btn:active {
  color: #fff;
  background-color: #4A8EBB;
}

/*==Result Table==*/

  .res-tab {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0 7rem;
  }
  
.result-container {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 5rem;
    padding: 0 7rem;
  }
  
.result-container thead th {
    background-color: #4A8EBB;  
    color: white;              
    text-align: center;
}

.result-container tbody td {
    color: #000000;
    text-align: center;
    padding: 0.75rem;
    font-size: 0.95rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

.italic-putative {
  font-style: italic;
}


