.main-wrapper {
    padding-top: 180px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

   /*Nav Bar*/ 
  .header-sample {
    border-top: none !important;
    /* transform: translateY(-110%); */
    background-color: #7fffd4;
    width: 100%;
    min-width: 70%;
    transform: translateY(-70%);
  }

  .otu, .list {
    display: inline !important;
  }

  .header-sample h1 {
    font-size: 3rem;
    font-weight: bold;
    white-space: normal;
    width: auto;
    transform: translate(3% , 70%);
    align-items: center;
    align-self: center;
  }


    /*Moving search icon*/
  .search-bar-left-icon {
    position: relative;
    display:flex;
    align-items: center;
}

/* Search icon */
.search-icon {
    position: relative;
    right: 2rem;
    transform: translateX(450%);
    color: #00a4bc; 
    pointer-events: none;
    z-index: 2;
    /* background: none !important;
    border: none !important;
    box-shadow: none !important; */
}

.search-bar-wrapper {
    align-items: flex-end;
    align-content: flex-end;
    display:flex;
    transform: translateY(-25%);
  }
  
  /* Actual search input */
  .search-input {
    padding: 15px 58px;
    background: #ffffff;
    border-radius: 40px;
    font-size: 1.25rem;
  }

  .top-container {
    margin-top: none;
  }
  
  .res-tab {
    margin-top: none;
  }
  
  .result-container {
    margin-top: none;
  }
  

 